"use strict";

const isEmpty = require("./utilities/isEmpty");
const getDateTime = require("./utilities/getDateTime");

// let databaseURL = "";
// let dialectValue = "";

// if (process.env.DATABASE_DIALECT == "postgres") {

//   databaseURL = process.env.DATABASE_URL_POSTGRESQL;
//   dialectValue = "postgres";

// } else if (process.env.DATABASE_DIALECT == "mysql") {

//   databaseURL = process.env.DATABASE_URL_MYSQL;
//   dialectValue = "mysql";

// } else if (process.env.DATABASE_DIALECT == "mssql") {

//   databaseURL = process.env.DATABASE_URL_SQLSERVER;
//   dialectValue = "mssql";

// } else {
  
//   // * Set to postgres by default -- 03/28/2021 MF
//   databaseURL = process.env.DATABASE_URL_POSTGRESQL;
//   dialectValue = "postgres";

// };

let databaseConfig;

// console.log("database.js", getDateTime(), "process.env.NODE_ENV", process.env.NODE_ENV);
// console.log("database.js", getDateTime(), "isDev", isDev);

if (process.env.NODE_ENV === "development" && process.env.FORCE_PRODUCTION_DATABASE !== "True") {
  // if (isDev === true || process.env.NODE_ENV === "development") {

  // * test/local instance database credentials goes here. -- 03/08/2021 MF
  databaseConfig = {
    config: {
      client: "mssql",
      connection: {
        host: "localhost",
        // host: "127.0.0.1",
        user: process.env.DATABASE_USER,
        password: process.env.DATABASE_PASSWORD,
        database: process.env.DATABASE_NAME,
        // options: { encrypt: false } // ! Needs to be set to default for the localhost? https://stackoverflow.com/questions/66504525/error-no-event-socketconnect-in-state-sentprelogin -- 05/06/2021 MF
      }
    }
  };

} else {

  // * production database credentials goes here -- 06/24/2021 MF
  databaseConfig = {
    // ! pm2 doesn't see the .env variables being used here and then isn't able to access MySql. -- 08/13/2021 MF
    config: {
      client: "mysql2",
      connection: {
        host: "localhost",
        // host: "127.0.0.1",
        // user: process.env.DATABASE_USER,
        // password: process.env.DATABASE_PASSWORD,
        // database: process.env.DATABASE_NAME,
        user: "",
        password: "",
        database: "",
        // options: { encrypt: false } // ! Needs to be set to default for the localhost? https://stackoverflow.com/questions/66504525/error-no-event-socketconnect-in-state-sentprelogin -- 03/28/2021 MF
      }
    }
  };

};


module.exports = databaseConfig;